<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <% include ./partials/navigation.ejs %>
      </nav>
      <div class="featuredBoard container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">

                </div>

                <div class="col-sm-6" style="margin-top: 80px;">
                  <form method="post" action="/register/student">
                    <h2 style="text-align: center; margin-bottom: 30px;">Register Student </h2>
                    <div class="form-row">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="First name" name="firstName" required>
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Middle name" name="middleName">
                      </div>

                    </div>
                    <br />
                    <div class="form-row">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Last name" name="lastName" required>
                      </div>

                      <div class="col">
                        <input type="email" class="form-control" placeholder="E-mail" name="email" required>
                      </div>

                    </div>

                    <br />
                    <div class="form-row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                      </div>

                      <div class="col">
                        <input type="text" class="form-control" placeholder="Nationality" name="nationality" >
                      </div>
                    </div>

                    <br />
                    <div class="form-row">
                      <div class="col">
                        <input type="number" class="form-control" placeholder="Phone Number" name="phoneNumber" required>
                      </div>

                      <div class="col">
                        <input type="text" class="form-control" placeholder="Gender" name="gender" required>
                      </div>
                    </div>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Register">

                  </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
          </div><!--/col-12-->
        </div><!--/row-->
      </div><!-- ./container -->
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/scripts/events.js"></script>
  </body>
</html>
